LOGS_DIR=  # should be an absolute path
MAX_WORKERS=
MIN_WORKERS=
WORKER_COOLDOWN=   # cooldown time between continuous worker spawning;             
WAIT_TIME=     # time quantum for stopping the workers;
RTMP_URL=
IMAGE=
REDIS_PORT=
RABBITMQ_URL=
NETWORK=

#r2
R2_ENDPOINT=https://<account_id>.r2.cloudflarestorage.com
R2_ACCESS_KEYID=
R2_SECRET_KEY=
R2_BUCKET=istream-vod
R2_PUBLIC_URL=https://pub-<id>.r2.dev
