REDIS_PORT=
RABBITMQ_URL=
MONGODB_URL=
NODE_ENV=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8888/api/auth/login/google/callback
JWT_SECRET=
REFRESH_SECRET=
HLS_BASE_URL=

# rzp
KEY_ID=
KEY_SECRET=
