REDIS_PORT=
RABBITMQ_URL=
RTMP_URL=
MONGODB_URL=
NODE_ENV=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8888/api/auth/login/google/callback
FRONTEND_URL=
JWT_SECRET=
REFRESH_SECRET=
HLS_BASE_URL=

# rzp
KEY_ID=
KEY_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

#r2
R2_PUBLIC_URL=
